{% extends 'base.html' %}

{% block content %}
    {% load static %}
    {{ static }}
    <header id="header">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2"><img class="img-responsive" src="{% static "/images/logo-repsol.png" %}" id="logo"></div>
            </div>
        </div>
    </header>

    <section id="principal" class="estaciones">
        <div class="container">
            <div class="row bgimg" style="background-image: url('{% static "/images/precio-indexado.png" %}')">
                <div class="col-lg-6 col-md-5 col-sm-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-0 pull-right-sm pull-right-md pull-right-lg" id="colder">
                    <h1 id="titflyer" class="repsol-f">Ahorra en tus <br>facturas de luz y gas</h1>
                    <p>Envíanos una foto de tu factura y te <br>diremos cómo puedes ahorrar.</p>
                    <p class="ordered"><span class="num">1</span> Completa el formulario, incluyendo <br>tu código promocional.</p>
                    <p class="ordered"><span class="num">2</span> Envíanos tu factura y la analizaremos.</p>
                    <p class="ordered"><span class="num">3</span> Nos pondremos en contacto contigo <br>y te diremos cuánto ahorras.</p>
                </div>
                <div class="col-lg-4 col-md-5 col-sm-8 col-lg-offset-1 col-md-offset-1 col-sm-offset-2 col-xs-offset-0" id="colizq">
                    <h3 id="webflyer-ff-tit" class="repsol-f"><strong>Envíanos tu factura</strong> y calcularemos la mejor tarifa de luz o gas</h3>
                    <form id="formu" action="/send/" method="post" class="clearfix">
                        {% csrf_token %}
                        <!-- class="collapse" -->
                        <div id="p1box" class="marbot10">
                            <div class="col-md-6 form-group">
                                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" required>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="text" class="form-control" id="apellidos" name="apellidos" placeholder="Apellidos" required>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="text" class="form-control" id="email" name="email" placeholder="Email" required>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="tel" class="form-control" id="telefono" name="telefonoff" placeholder="Teléfono" maxlength="9" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 8 || event.charCode == 46" required>
                            </div>
                            <div id="boxcode" class="col-md-12 form-group">
                                <input type="text" class="form-control" id="cpromo" name="cpromo" placeholder="Código promocional">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div id="p2box">
                            <div id="opcion_a">
                                <div class="form-group ">
                                    <div id="fdrop">
                                        <div class="box__input">
                                            <input class="box__file" type="file" accept=".jpeg,.jpg,.pdf,.webp" id="facturas" name="facturas" multiple  required/>
                                            <label for="file">
                                                <p>
                                                    <img src="{% static "/images/camara.svg" %}" class="icono_camara" width="32">
                                                    <span>+</span>
                                                    <img src="{% static "/images/nube.svg" %}" class="icono_nube" width="29">
                                                </p>
                                                <p><strong>Elige</strong><span class="box__dragndrop"> o arrastra aquí tu factura</span>. <br>Formato PDF o JPG.</p>
                                            </label>
                                        </div>
                                        <div id="archivo" class="txgris small hide padtop10 desk"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="checkbox txgris">
                                        <input id="condiciones" name="condiciones_aceptadas" type="checkbox" value=""> <label for="condiciones"><a href="https://www.viesgo.com/condiciones-potenciales" target="_blank">Acepto la política de protección de datos</a></label> <a href="/info-lopd-repsol" data-fancybox-type="iframe" class="fancybox" target="_blank"><i class="fa fa-info-circle txrojo"></i></a>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <input type="submit" id="enviar" name="conficherofactura" value="Conocer mi tarifa ideal" class="btn br2 martop20 submit"><div id="load1" class="loader"><img src="https://tuenergiarepsol.t2omedia.com/app/templates/repsol/img/loader-r.gif"></div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </form>
                    <section id="thanks">
                        <div id="asesoria-form-fin" class="row step2">
                            <!-- Con archivos adjuntos -->
                            <div class="col-md-12">
                                <div class="cabecera-comunicacion">
                                    <p class="centra"><img src="https://tuenergiarepsol.t2omedia.com/app/templates/repsol/img/send.png" style="max-width: 40px;" class="fullwidth"></p>
                                    <!-- <h3 class="fw600 txrojo">¡Gracias <span id="gname"></span>, hemos recibido tus datos correctamente!</h3> -->
                                    <h3 class="fw400 txrojo">Tu factura se ha <strong class="fw600">enviado correctamente</strong></h3>
                                    <!-- <p class="fotofactura-solicitud-registrada solo-formulario">Tu solicitud se ha registrado con el número <span id="requestid" class="fw500 rojo">#0000</span></p> -->
                                    <h3 class="fw400 txrojo">¿Y ahora qué?</h3>
                                </div>
                                <div class="col-md-12 col-lg-8 col-lg-offset-2">
                                    <ol class="fotofactura-ordered-list v110 solo-formulario">
                                        <li class="clearfix"><span class="list-order"><i class="fa fa-search"></i></span><span class="list-text"> Revisaremos tu factura para mejorar la tarifa que tienes ahora.</span></li>
                                        <li class="clearfix"><span class="list-order"><i class="fa fa-phone"></i></span><span class="list-text">Nos pondremos en contacto contigo diciéndote cuánto podrás ahorrar con nosotros.</span></li>
                                        <li class="clearfix"><span class="list-order"><i class="fa fa-euro"></i></span><span class="list-text">Y si te interesa el ahorro, podrás cambiarte a Repsol.</span></li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
    <section id="logros">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 col" id="v10">
                    <div class="row">
                        <div class="col-md-12 col-sm-4 col-xs-3">
                            <p class="text-center"><img src="{% static "/images/medalla.svg" %}" style="width: 36px"></p>
                        </div>
                        <div class="col-md-12 col-sm-8 col-xs-9">
                            <h3 class="text-center">Con la garantía Repsol</h3>
                            <p class="text-center txt txgris5">La tranquilidad y seguridad de formar parte <br>de una compañía multienergía de confianza</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 col" id="v20">
                    <div class="row">
                        <div class="col-md-12 col-sm-4 col-xs-3">
                            <p class="text-center"><img src="{% static "/images/euro.svg" %}"></p>
                        </div>
                        <div class="col-md-12 col-sm-8 col-xs-9">
                            <h3 class="text-center">Tu tarifa de electricidad <br>al mejor precio</h3>
                            <p class="text-center txt txgris5">Sin sorpresas y con asesoramiento personalizado</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 col" id="v30">
                    <div class="row">
                        <div class="col-md-12 col-sm-4 col-xs-3">
                            <p class="text-center"><img src="{% static "/images/medioambiente.svg" %}" style="width: 36px"></p>
                        </div>
                        <div class="col-md-12 col-sm-8 col-xs-9">
                            <h3 class="text-center">Te ofrecemos energía <br>de bajas emisiones</h3>
                            <p class="text-center txt txgris5">Para que contribuyas a cuidar del medio ambiente.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <p id="logofoot"><img src="{% static "/images/logo-electricidad.svg" %}"></p>
                </div>
                <div class="col-sm-8">
                    <p id="copyfoot">
                        &copy; 2019 Repsol <span class="space"></span>
                        <a href="https://www.viesgo.com/condiciones-potenciales">Condiciones legales</a> | <a href="https://www.viesgo.com/aviso-legal/" target="_blank">Aviso legal y cookies</a><br>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <div id="system-message-container" class="modal fade" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header panel-heading">
                    <button type="button" class="close" data-dismiss="modal">
                        <i class="fa fa-times"></i>
                    </button>
                    <h4 class="modal-title">
                        Por favor, completa la información solicitada
                    </h4>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>
    <div id="system-success-container" class="modal fade" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content panel-success">
                <div class="modal-header panel-heading">
                    <button type="button" class="close" data-dismiss="modal">
                        <i class="fa fa-times"></i>
                    </button>
                    <h4 class="modal-title">
                        <i class="fa fa-check"></i> Gracias
                    </h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-block btn-lg custombtn" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}