{% extends 'base.html' %}

{% block content %}
    {% load static %}
    {{ static }}

    <input id="sform" type="hidden" value="">
    <input id="idlead" type="hidden" value="PXNG6M1GWUFQ">
    <input id="product" type="hidden" value="">
    <input id="support" type="hidden" value="TOTEM">
    <input id="utmsource" type="hidden" value="">
    <input id="utmcampaign" type="hidden" value="">
    <input id="utmmedium" type="hidden" value="">
    <input id="utmcontent" type="hidden" value="">
    <input id="utmterm" type="hidden" value="">

    <section id="boxlogin">
        <div class="container">
            <div class="row">
                <div class="col-12" style="padding: 30px 0;" class="centra">
                    <img class="img-responsive centrado" src="{% static "/images/logo-repsol.png" %}" style="margin: 0 auto;" id="logo"></div>
                    <h2 class="centra marbot30">Introduce tu usuario y contrase&ntilde;a</h2>
                    <div class="col-md-6 col-md-offset-3">
                        <form id="formlogin" action="/login/" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="text" class="form-control" id="user" name="user" placeholder="Usuario">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="pass" name="password" placeholder="Contrase&ntilde;a">
                            </div>
                            <div class="form-group mar0">
                                <button id="enviarlogin" class="btn br4 turquesa txblanco btn-l bblock fullwidth" role="button"><span>Enviar</span><div class="loader"><img src="https://tuenergiarepsol.t2omedia.com/app/templates/repsol/img/loader.gif"></div></button>
                            </div>
                            <div id="errores" class="bg-danger martop10"></div>
                        </form>
                    </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </section>


{% endblock %}
